:root {
  --main-font: 'Roboto', sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #adb3be;
  --body-background-color: #e7ecf2;
  --card-background-color: #ffffff;
  --card-second-background-color: #f3f6f9;
  --boarder-color: rgba(173, 179, 190, 0.5);

  /* --accent-color: #36b6d6;
  --boarder-color: #e0e0e0;
  --online-color: #00e239;
  --offline-color: #ff0000; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

body {
  background-color: var(--body-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
}
